@page
@model RazorDb.Pages.Test.UpdateRoomsModel
@{
    ViewData ["Title"] = "UpdateTRoom";
}
@{
    if (!string.IsNullOrEmpty(@Model.ErrorMessage))
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
            <strong>Warning!</strong> @Model.ErrorMessage
        </div>
    }
}
<h1>Opdater værelse:</h1>

<form method="post">
    <div class="form-grpup">
        <div asp-validation-summary="All" class="text-dager"></div>
        <label asp-for="@Model.room.RoomNr" class"controle-label"></label>
        <input asp-for="@Model.room.RoomNr" class="form-control" />
        <span asp-validation-for="room.RoomNr" readonly class="text-danger"></span>
    </div>
    <div class="form-grpup">
        <div asp-validation-summary="All" class="text-dager"></div>
        <label asp-for="@Model.room.HotelNr" class"controle-label"></label>
        <input asp-for="@Model.room.HotelNr" class="form-control" />
        <span asp-validation-for="room.HotelNr" readonly class="text-danger"></span>
    </div>
    <div class="form-grpup">
        <div asp-validation-summary="All" class="text-dager"></div>
        <label asp-for="@Model.room.Types" class"controle-label"></label>
        <input asp-for="@Model.room.Types" class="form-control" />
        <span asp-validation-for="room.Types" class="text-danger"></span>
    </div>
    <div class="form-grpup">
        <div asp-validation-summary="All" class="text-dager"></div>
        <label asp-for="@Model.room.Pris" class"controle-label"></label>
        <input asp-for="@Model.room.Pris" class="form-control" />
        <span asp-validation-for="room.Pris" class="text-danger"></span>
    </div>
    <br>
    <br />
    <div class="formgroup">
        <input type="submit" 
            value="Update room" 
            class="btn btn-primary" 
            style="background-color:#ffa303;border-color:#ffa303" />
    </div>
</form>